/* Give navbar text the white color */

    .nav-link {
        color: white!important;
    }

    .navbar-brand{
        color: white!important;
    }

    .btn-outline-success{
        color: white!important;
    }

/* Center Image */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 50%*/;
}

/* Stick footer to bottom */

    body{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    footer{
        margin-top: auto;
    }

/*horizontal line*/
hr {
  width: 80%!important;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Card deck */

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
}

