{% extends "djangoapp/FR/base.html" %}}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12" style="text-align:justify;">
            <h3 style="text_align:center">Voici comment j'ai guéri ma fibromyalgie après presque une décennie de douleur constante. <br></h3>.
            <br>
            <p><strong>Novembre 2011: </strong>Je contracte un grave problème de santé à la suite d'un accident : douleurs musculaires permanentes, incapacité à dormir et autres symptômes.</p>
            <p><strong>Septembre 2012: </strong>Cela s'aggrave encore après une extraction de dents de sagesse. </p>
            </p><strong>7 ans de douleur constante:</strong>La douleur que j'avais était dans presque tous les muscles du corps. Surtout dans la mandibule, le dos, le cou, le visage,
                les genoux et les jambes. Je pouvais à peine marcher, je pouvais à peine dormir et la douleur ne se calmait littéralement jamais, même pour une seule seconde.
                <br>Je suis allé voir beaucoup de médecins, de physiciens, de thérapeutes et j'ai essayé de nombreuses thérapies différentes pendant ces 7 ans sans l'ombre d'un succès. </p>
            <p><strong>Janvier 2017: </strong>J'ai terminé mon master en biotechnologie et je savais qu'avec ce problème de santé, j'étais totalement incapable de produire un quelconque type de
            travail. J'ai donc décidé de me concentrer uniquement sur ma santé afin de trouver une solution.</p>
            <p><strong>Août 2018: </strong> Pour faire court: après avoir essayé des dizaines de thérapies différentes comme la méditation, la chirurgia, l'acupuncture, le tai chi, le yoga, etc. j'ai découvert
                une page web écrite par un médecin français qui avait des idées vraiment singulières sur mon problème.</p>
            </p> <p>L'idée centrale était que la douleur que j'avais provenait d'un dysfonctionnement du réflexe myotatique résultant d'un choc. Il a développé une technique consistant à raccourcir certains muscles spécifiques pour guérir ce problème.
            Cela a bien fonctionné sur les muscles que nous avons traités mais sa technique n'a pas été capable de me guérir complètement. En effet, sa technique se concentrait uniquement sur le cou et les chevilles mais malheureusement
                mon problème se situait également sur d'autres muscles. J'ai donc compris que je devais partir de sa méthode pour l'étendre à d'autres muscles.
                J'ai compris la théorie sous-jacente et j'ai utilisé les deux années suivantes pour faire des expériences sur mon corps afin de tester différents types d'hypothèses pour guérir mes muscles.
            Ces expériences étaient plutôt extrêmes pour certaines : Comme essayer l'acupuncture sur moi-même et laisser les aiguilles pendant plusieurs jours pour vérifier si quelque chose pouvait se produire. J'ai essayé d'arrêter tout
            mouvement pendant plusieurs jours pour voir si cela pouvait aider. J'ai aussi essayé d'appliquer une pression sur les muscles pendant plusieurs jours pour voir si quelque chose pouvait se produire et beaucoup d'autres idées du même genre qui visaient à calmer les muscles.
            J'ai essayé chaque idée pendant 3 semaines minimum avant de juger de l'intérêt de l'idée. Le procédé ressemblait donc à une descente de gradient pour minimiser la douleur avec un pas de temps de trois semaine entre chaque itération.
            Au final, ce qui est ressorti, c'est l'application de glace, certains mouvements spécifiques raccourcissant les
            muscles de la mandibule combinés à des exercices de respiration et quelques mouvements et exercices spécifiques qui ont permis de guérir complètement mon corps.</p>
            </p> <p>Si vous voulez en savoir plus sur cette méthode : je vous laisse ici le site du médecin qui a inventé la méthode initiale : la <a href="https://www.brachy-myotherapie.com/qu-est-ce-que-la-myoth%C3%A9rapie/">Brachy-myotherapie</a>.</p>
        </div>
    </div>

</div>

{% endblock %}
