{% extends "djangoapp/FR/base.html" %}}
{% load static %}
{% block content %}


<div class = "container">
    

    <!-- First ROW -->
    <div class="row">
    <div class = "col-12" style="margin-bottom:2em">
    <h1 style="text-align:center"> Profil</h1>
    <div class="card " style=" background:#f0f2f4
">
<!--          <img class="card-img-top" src="{%  static  'Car-symetric.png'  %}"  alt="Car" style="padding:1em">-->
      <div class="card-body" style="margin:2em; text-align:center">

          <h5><strong>Ingénieur</strong>, Passionné de <strong>mathématiques</strong>,
              <strong>data-science</strong>, <strong>physique</strong> et <strong>de biologie</strong>.</h5>
<!--            <a href="dealer_details?dealerId={{dealership.id}}" class="btn btn-primary" style="background:black"> View details </a>-->
      </div>
    </div>

    </div>
    </div>
<hr/>
    <br>

    <!-- Second Row -->
    <div class = "row">

        <div class = "col-12">
            <h1 style="text-align:center"> Études  </h1>
        </div>

        <div class="col-lg-4 col-md-6  col-sm-12 " style="margin-bottom:2em">
        <div class="card h-100" style= "background:#f0f2f4">
            <img class="card-img-top" src="{%  static  'coursera.png'  %}"  alt="coursera" style="padding:1em; width:40%">

<!--          <img class="card-img-top" src="{%  static  'Car-symetric.png'  %}"  alt="Car" style="padding:1em">-->
          <div class="card-body" style="margin-left:2em; margin-bottom:2em; margin-right:2em;">
            <h5 class="card-title">Formation en ligne de data-science</h5>
              <ul>
                  <li>Coursera</li>
                  <li>OpenClassrooms</li>
                  <li>DataCamp</li>
                  <li>De nombreux livres et cours en ligne</li>
                  <li><a href="certificates">Voir les certificats</a></li>
              </ul>
<!--           <a href="dealer_details?dealerId={{dealership.id}}" class="btn btn-primary" style="background:black"> View details </a>-->
          </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6  col-sm-12 " style="margin-bottom:2em">
        <div class="card h-100" style=" background:#f0f2f4">
          <img class="card-img-top; " src="{%  static  'EPFL_Logo.png'  %}"  alt="EPFL" style="padding:1em; width:30%"  >
          <div class="card-body" style="margin-left:2em; margin-bottom:2em; margin-right:2em;">
            <h5 class="card-title"><a href="https://www.epfl.ch/research/domains/bioengineering/" target="_blank">Ecole Polytechnique Fédérale de Lausanne</a></h5>
              <ul>
                  <li>Biotechnologie </li>
                  <li>BioInformatique </li>
                  <li>Biophysique </li>
              </ul>
<!--           <a href="dealer_details?dealerId={{dealership.id}}" class="btn btn-primary" style="background:black"> View details </a>-->
          </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6  col-sm-12 " style="margin-bottom:2em">
        <div class="card h-100" style="  background:#f0f2f4
">
          <img class="card-img-top" src="{%  static  'centrale_paris_logo2.png'  %}"  alt="Ecole centrale de paris" style="padding:1em; width:50%">
          <div class="card-body" style="margin-left:2em; margin-bottom:2em; margin-right:2em;">
            <h5 class="card-title"><a href="https://www.centralesupelec.fr/" target="_blank">Ecole Centrale de Paris</a></h5>
              <ul>

                  <li>Mathématiques</li>
                  <li>Physique</li>
                  <li>Statistique</li>
                  <li>Optimisatuib</li>
                  <li>Management</li>
                  <li>Science de l'ingénieur</li>
                  <li>Mécanique quantique</li>
                  <li>Mathématiques pour la biologie</li>

              </ul>
<!--           <a href="dealer_details?dealerId={{dealership.id}}" class="btn btn-primary" style="background:black"> View details </a>-->
          </div>

        </div>


    </div>
    </div>
    <hr>
    <br>
    <!-- Third Row -->

    <div class = "row">
        <div class = "col-12">
            <h1 style="text-align:center"> Compétences</h1>
        </div>
        <div class="col-lg-4 col-md-6  col-sm-12 " style="margin-bottom:2em">

        <div class="card h-100" style="  background:#f0f2f4
">
<!--          <img class="card-img-top" src="{%  static  'Car-symetric.png'  %}"  alt="Car" style="padding:1em">-->
          <div class="card-body" style="margin:2em;">
            <h5 class="card-title">Languages de programmation</h5>
              <ul>
                  <li>C++</li>
                  <li>Python</li>
                  <li>HTML/CSS</li>
                  <li>SQL</li>
                  <li>Javascript</li>
                  <li>R</li>
                  <li>Command-line (Linux, windows)</li>
                  <li>Bash</li>
              </ul>
<!--           <a href="dealer_details?dealerId={{dealership.id}}" class="btn btn-primary" style="background:black"> View details </a>-->
          </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-6  col-sm-12 " style="margin-bottom:2em">
        <div class="card h-100" style=" background:#f0f2f4
">
<!--          <img class="card-img-top" src="{%  static  'Car-symetric.png'  %}"  alt="Car" style="padding:1em">-->
          <div class="card-body" style="margin:2em;">
            <h5 class="card-title">Langues</h5>
              <ul>
                  <li>Français: Langue maternelle </li>
                  <li>Anglais: Courant </li>
                  <li>Allemand: Bon niveau </li>
              </ul>
<!--           <a href="dealer_details?dealerId={{dealership.id}}" class="btn btn-primary" style="background:black"> View details </a>-->
          </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-6  col-sm-12 " style="margin-bottom:2em">
        <div class="card h-100" style=" background:#f0f2f4
;">
<!--          <img class="card-img-top" src="{%  static  'Car-symetric.png'  %}"  alt="Car" style="padding:1em">-->
          <div class="card-body" style="margin:2em;">
            <h5 class="card-title">Frameworks et systèmes</h5>
              <ul>

                  <li>Tensorflow</li>
                  <li>Pytorch</li>
                  <li>Numpy</li>
                  <li>Pandas</li>
                  <li>Matplotlib</li>
                  <li>Scikit-learn</li>
                  <li>Django</li>
                  <li>Docker</li>
                  <li>Kubernetes</li>
                  <li>Google-cloud-platform</li>
                  <li>Ibm-cloud</li>
                  <li>AWS</li>
                  <li>Tableau</li>
                  <li>Qt</li>

              </ul>
<!--           <a href="dealer_details?dealerId={{dealership.id}}" class="btn btn-primary" style="background:black"> View details </a>-->
          </div>
        </div>
        </div>
    </div>






    <!-- Fourth ROW -->
    <hr>
    <div class="row">
    <div class = "col-12">
    <h1 style="text-align:center"> Expérience </h1>
        <br>
    <div class="card" style=" background:#f0f2f4
">
<!--          <img class="card-img-top" src="{%  static  'Car-symetric.png'  %}"  alt="Car" style="padding:1em">-->
      <div class="card-body" style="margin:2em;">
        <ul>
          <li>2016-2017: Ingénieur Process et qualité pour une station de méthanisation chez EcoRecyclage, Lavigny Suisse.</li>
          <li>2017-2021: Je n'ai pas pu travailler à cause d'un grave accident qui m'a fait développer une fibromyalgie.</li>
          <li>Grâce à des recherches assidues, une approche systématique et une détermination sans faille j'ai pu trouver une solution pour me soigner totalement.</li>
          <li>Lorsque la douleur de la fibromyalgie a diminué j'ai pu à nouveau me concentrer et j'ai disposé de beaucoup de temps pour étudier durant ma convalescence.</li>
          <li>Si vous désirez plus de détails, veuillez suivre ce  <a href="fibromyalgia">lien.</a></li>

        </ul>
          <!--            <a href="dealer_details?dealerId={{dealership.id}}" class="btn btn-primary" style="background:black"> View details </a>-->
      </div>
    </div>
        <hr/>
    </div>
    </div>



</div>

<!--<div class = "container">-->
<!--    <div class = "row">-->
<!--    {% for dealership in dealerships %}-->

<!--        <div class = "col-4">-->

<!--        <div class="card" style="width: 18rem; margin:2em; background:#f0f2f4
">-->
<!--&lt;!&ndash;          <img class="card-img-top" src="{%  static  'Car-symetric.png'  %}"  alt="Car" style="padding:1em">&ndash;&gt;-->
<!--          <div class="card-body" style="margin:2em">-->
<!--            <h5 class="card-title">{{ dealership.full_name }}</h5>-->
<!--              <ul>-->
<!--                <li class="card-text">-->
<!--                     State: {{ dealership.st }}-->
<!--                </li>-->
<!--                <li class="card-text">-->
<!--                     City: {{ dealership.city }}-->
<!--                </li>-->
<!--                <li class="card-text">-->
<!--                    ID: {{ dealership.id }}-->
<!--                </li>-->
<!--                <li class="card-text">-->
<!--                    Zip: {{ dealership.zip }}-->
<!--                </li>-->
<!--                </ul>-->

<!--            <a href="dealer_details?dealerId={{dealership.id}}" class="btn btn-primary" style="background:black"> View details </a>-->
<!--          </div>-->
<!--        </div>-->
<!--        </div>-->

<!--    {% endfor %}-->
<!--    </div>-->
<!--</div>-->


<br>





{% endblock %}
