{% extends "djangoapp/FR/base.html" %}}
{% load static %}
{% block content %}



<div class="container">
    
    <div class="row">
        <div class="col-md-2 "></div>
        <div class="col-md-8">
            <h2 style="text-align: center;">{{message}}</h2>
        </div>
        <br>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2 "></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white"><i class="fa fa-envelope"></i> Sign-Up.
                </div>
                <div class="card-body">
                    <form method="post" action="signup">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            {% if field.label == "Username" %}
                            <label for="{{ field.label }}"></label>
                            <input type="{{ field.label }}" class="form-control" id="name" aria-describedby="emailHelp" placeholder="{{ field.label }}" name="{{ field.label }}" required>
                            <br>
                            
                            
                            {% if field.help_text %}              
                                <small style="color: grey"> {{ field.help_text }}</small>
                            {% endif %}
                              
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                            {% else %}
                                <label for="{{ field.label }}"></label>
                                <input type="password" class="form-control" id="name" aria-describedby="emailHelp" placeholder="{{ field.label }}" name="{{ field.label }}" required>
                                <br>
                                
                                
                                {% if field.help_text %}              
                                    <small style="color: grey"> {{ field.help_text }}</small>
                                {% endif %}
                                
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                        
                         {% endfor %}   
                        <div class="mx-auto">
                        
                        <br>
                        <button type="submit" class="btn btn-primary text-right">Submit</button></div>
                        
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>



{% endblock %}
