/* Give navbar text the white color */

    .nav-link {
        color: white!important;
    }

    .navbar-brand{
        color: white!important;
    }

    .btn-outline-success{
        color: white;
    }

/* Stick footer to bottom */

    body{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    footer{
        margin-top: auto;
    }
