{% extends "djangoapp/base.html" %}}
{% load static %}
{% block content %}
<section class="jumbotron text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <img class="fit-picture"
                     src="{%  static  'Car.png'  %}"
                     alt="Car">
            </div>

            <div class="col-6">
                <h1 class="jumbotron-heading">Reviews</h1>
            </div>

            <div class="col-3">
                <img class="fit-picture"
                     src="{%  static  'Car-symetric.png'  %}"
                     alt="Car">
            </div>
        </div>
        
    </div>
</section>



<div class = "container">
    <div class = "row">
    {% for review in reviews %}

        <div class = "col-6">

        <div class="card" style="width: 26rem; margin:2em; background:#D4D4D4">
<!--          <img class="card-img-top" src="{%  static  'Car-symetric.png'  %}"  alt="Car" style="padding:1em">-->
          <div class="card-body" style="margin:2em">
            <h5 class="card-title">{{ review.name }}</h5>
              <ul>
                <li class="card-text">
                     Car Make: {{ review.car_make }}
                </li>
                <li class="card-text">
                     Car Model: {{ review.car_model }}
                </li>
                <li class="card-text">
                    Car Year: {{ review.car_year }}
                </li>
                <li class="card-text">
                    Dealer Id: {{ review.dealership }}
                </li>
                <li class="card-text">
                    Purchase Date: {{ review.purchase_date }}
                </li>
                <li class="card-text">
                    Sentiment: {{ review.sentiment }}
                </li>
                <li class="card-text">
                    Review: {{ review.review }}
                </li>
              </ul>

<!--            <a href="#" class="btn btn-primary" style="background:black"> View details </a>-->
          </div>
        </div>
        </div>

    {% endfor %}
    </div>
</div>


<br>

{% if user.is_authenticated %}
<div class="container">

    <div class="row">
        <div class="col-md-2 "></div>
        <div class="col-md-8">
            <h2 style="text-align: center;">{{message}}</h2>
        </div>
        <br>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2 "></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white"><i class="fa fa-envelope"></i> Please post a review for a dealership.
                </div>
                <div class="card-body">
                    <form method="post" action="post_review">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-3">
                                    <label for="dealerId"> Car Make </label>
                                </div>
                                <div class="col-9">
                                     <input type="text" class="form-control" id="Car Make" aria-describedby="Id Filter" placeholder="Car Make" name="car_make">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label for="car_model"> Car Model </label>
                                </div>
                                <div class="col-9">
                                     <input type="text" class="form-control" id="Car Model" aria-describedby="Id Filter" placeholder="Car Model" name="car_model">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label for="car_year"> Car Year </label>
                                </div>
                                <div class="col-9">
                                     <input type="text" class="form-control" id="car_year" aria-describedby="Id Filter" placeholder="Car year" name="car_year">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label for="purchase_date"> Purchase Date </label>
                                </div>
                                <div class="col-9">
                                     <input type="date" class="form-control" id="purchase_date" aria-describedby="Id Filter" placeholder="Purchase date" name="purchase_date">
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-3">
                                    <label for="date"> Purchase </label>
                                </div>
                                <div class="col-9">
                                     <input type="text" class="form-control" id="purchase" aria-describedby="Id Filter" placeholder="Purchase" name="purchase">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label for="review"> Your Review </label>
                                </div>
                                <div class="col-9">
                                     <input type="text" class="form-control" id="review" aria-describedby="Id Filter" placeholder="Your review" name="review">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label for="dealerId"> Dealership Id to review </label>
                                </div>
                                <div class="col-9">
                                     <input type="text" class="form-control" id="dealerId" aria-describedby="Id Filter" placeholder="{{dealerId}}" value="{{dealerId}}" name="dealerId">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label for="dealerId"> Name </label>
                                </div>
                                <div class="col-9">
                                     <input type="text" class="form-control" id="name" aria-describedby="Id Filter" placeholder="Name" name="name">
                                </div>
                            </div>
                            <br>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary text-right">Post Review</button>


                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<br>
{% endif %}
<div class="container">

    <div class="row">
        <div class="col-md-2 "></div>
        <div class="col-md-8">
            <h2 style="text-align: center;">{{message}}</h2>
        </div>
        <br>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2 "></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white"><i class="fa fa-envelope"></i> Select a Dealership To Check Reviews.
                </div>
                <div class="card-body">
                    <form method="post" action="dealer_details" name ="review_form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="dealerId"> Id </label>
                            <input type="text" class="form-control" id="dealerId" aria-describedby="Id Filter" placeholder="Id" name="dealerId">
                            <br>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary text-right">Get Reviews</button></div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<br>


       

{% endblock %}

