{% extends "djangoapp/base.html" %}}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12" style="text-align:justify;">
            <h3 style="text_align:center">This is how I cured my fibromyalgia after almost a decade of constant pain <br></h3>
            <br>
            <p><strong>November 2011:</strong> I contract a serious health problem following an accident: permanent muscle pain, inability to sleep and other symptoms.</p>
            <p><strong>September 2012:</strong> It gets even worse after a wisdom teeth extraction. </p>
            <p><strong>7 years of constant pain:</strong> The pain I had was in almost every muscles of the body. Especially in the mandibula, the back, the neck, the face,
                the knees and the legs. I could barely walk, I could barely sleep and the pain litterally never calmed down even for a single second.
                <br> I went to a lot of doctors, physicists, therapists and tried many different therapy during those 7 years with not a single shadow of success. </p>
            <p><strong>January 2017:</strong> I finished my Master Degree in Biotechnology and knew that with this condition I was totally unable to produce any kind of correct
            work. Therefore I decided to solely focus on my health in order to find a solution.</p>
            <p><strong>August 2018:</strong> Long story short: After trying dozens of different therapy like meditation, chirurgia, acupuncture, tai chi, yoga and so on I landed
                on a webpage written by a french doctor who had really peculiar ideas about my condition.</p>
            <p>The very unique idea was that the pain I had came from a dysfunction of the myotatic reflex. He developped a technique consisting of shortening some specific muscles to heal the condition.
            It worked well on the muscles we treated but his technique was not able to heal me completely. Indeed his technique focused only on the neck and the ankles but sadly
                the problem was on other muscles as well. I knew I had to start from his method to expand it towards other muscles.
                I understood the theory behind it and used the next 2 years to make experiences on my body to test different kind of hypothesis to heal my muscles.
            These experiences were rather extreme for some: Like trying acupuncture on myself and leaving the needles for several days to check if something could happen. I tried stopping any
            movement during several days just to check if it could help. I tried also applying pressure on muscles during several days to see if something could happen and many other ideas of
                the same kind which were aiming to calm the myotatic reflex of some of my muscles.
            I tried every idea for 3 weeks minimum before judging the interest of the idea. In the end what came out was ice application, some specific movements shortening the
            muscles of the mandibula combined with specific exercises of respiration and some specific movement and exercises which could heal my body completely.</p>
            <p>If you wanna know more about this method: please visit the website of the doctor who invented the initial method: <a href="https://www.brachy-myotherapie.com/qu-est-ce-que-la-myoth%C3%A9rapie/">Brachy-myotherapie</a>.</p>
        </div>
    </div>

</div>

{% endblock %}
