{% extends "djangoapp/base.html" %}
{% load static %}
{% block content %}


<div class="container">

    <div class="row">
        <div class="col">
            <h2 style="text-align:center">Style Transfer</h2>
            <br>
            <p>Style Transfer is the process of extracting the style of a picture to apply it on another picture.
                <br> To do that, we use a Deep Neural Network trained for classification of images. This Network picks up some patterns
            in the image in order to classify the images. We can recapture these kind of patterns in the deep layers of the Network and
            we can average them by taking the gram matrix of these layers. This gives us something representing the "style" of the image. Once we have extracted these features we can take the same Network
            and freeze all its layers but the first one and apply gradient descent in order for it to modify the original image to make the features closer
            to those extracted previously. </p>
            <br>

            <p>The code I wrote for Style Transfer is available on my <a href="GitHub">Github</a></p>

        </div>

    </div>
    <br><br>
<!--    1-->
    <div class="row">
        <div class="col-md-4" style="margin-bottom:1em">
            <h4 style="text-align:center">Content Picture</h4>
            <br>
            <img src="{%  static  'gallery/content/paysage_maman2.jpg'  %}" alt="" width = 100%>
        </div>

        <div class="col-md-4" style="margin-bottom:1em">
            <h4 style="text-align:center">Style Picture</h4>
            <br>
            <img src="{%  static  'gallery/style/Monet1.jpg'  %}" alt="" width = 100%>
        </div>

        <div class="col-md-4" style="margin-bottom:1em">
            <h4 style="text-align:center">Result Picture</h4>
            <br>
            <img src="{%  static  'gallery/Monet1_paysage2.jpeg'  %}" alt="" width = 100%>
        </div>
    </div>
    <hr>

<!--    2-->
      <div class="row d-flex flex-wrap align-items-center">

        <div class="col-md-4" style="margin-bottom:1em;">
            <br>
            <img src="{%  static  'gallery/content/bridge.jpg'  %}" alt="" class = center width="100%">
        </div>

        <div class="col-md-4" style="margin-bottom:1em;">
            <br>
            <img src="{%  static  'gallery/style/scream_resized.jpg'  %}" class = center alt="" width= 100%>
        </div>

        <div class="col-md-4" style="margin-bottom:1em;">
            <img src="{%  static  'gallery/screambridge2.gif'  %}" alt="" width = 100%>
        </div>

    </div>
    <br>
    <hr>
    <br>

<!--    3-->
      <div class="row d-flex flex-wrap align-items-center">
        <div class="col-md-4" style="margin-bottom:1em">
            <img src="{%  static  'gallery/content/orangutan.jpg'  %}" alt="" width = 100%>
        </div>

        <div class="col-md-4" style="margin-bottom:1em">
            <img src="{%  static  'gallery/style/Monet1.jpg'  %}" alt="" width= 100%>
        </div>

        <div class="col-md-4" style="margin-bottom:1em">
            <img src="{%  static  'gallery/Monet1_orangutan.jpg'  %}" alt="" width = 100%>
        </div>
    </div>
    <br>
    <hr>
    <br>

    <!--   4-->
      <div class="row d-flex flex-wrap align-items-center">
        <div class="col-md-4" style="margin-bottom:1em">
            <img src="{%  static  'gallery/content/moi.jpg'  %}" alt="" width = 100%>
        </div>

        <div class="col-md-4" style="margin-bottom:1em">
            <img src="{%  static  'gallery/style/Van_Gogh2.jpg'  %}" alt="" width= 100%>
        </div>

        <div class="col-md-4" style="margin-bottom:1em">
            <img src="{%  static  'gallery/moi_Van_Gogh2.jpeg'  %}" alt="" width = 100%>
        </div>
    </div>

    <br>
    <hr>
    <br>

    <br><br>
<!--    <div class="flex-container">-->
<!--        <img src="{%  static  'gallery/content/orangutan.jpg'  %}" class="inner-image portrait" />-->
<!--        <img src="{%  static  'gallery/style/Monet1.jpg'  %}" class="inner-image portrait" />-->
<!--        <img src="{%  static  'gallery/Monet1_orangutan.jpg'  %}" class="inner-image portrait" />-->

<!--    </div>-->

    <div class="row">
        <div class="col">
            <h2 style="text-align:center">Generative Adversarial Network</h2>
            <br>
            <p> Generative Adversarial Network is a special type of network composed of a generator of images and a discriminator which are
                training against each other.<br>
                The generator is a network producing images and the discriminator is a network evaluating how well the images produced by the generator
                ressemble the reference images.
                When the generator produces an image, the discriminator evaluates the image and by backward propagation informs the generator on how its
                weights should be transformed in order to produce a better image.
                There are a lot of variations for GANS. This explanation is about the simplest form of gans.
            </p>
            <br>

                    <p>The code I wrote for these GANs Production is available on my <a href="GitHub">Github</a></p>




        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6">
            <h3 style="text-align:center">GAN Without Convolutional neural network</h3>
            <br>
            <img src="{% static 'gallery/Simple_GAN.gif' %}" alt="" width = 100%>
            <br>

        </div>

        <div class="col-lg-6">
            <h3 style="text-align:center">GAN With Convolutional neural network</h3>
            <br>
            <img src="{% static 'gallery/Conv_GAN.gif' %}" alt="" width = 100%>
            <br>

        </div>
    </div>
    <div class="row">
        <div class="col">
           <h4> These images represent the output of the GANS at different times for every 20 training steps during several thousands of steps</h4>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <p>
                An Interesting fact that we can point here is how the convolutional neural network can learn perfectly the black background in comparison to the
                dense neural network.
                Indeed the convolution can learn spatial representations by isolating some parts of the image. Thus it can learn that some parts have to be dark.
                In comparison the Dense Neural network sees all its weights interlieved and can't learn some dark part of the background without changing the light
                part of the foreground.
            </p>
        </div>
    </div>



    
    <br><br>

</div>

{% endblock %}
