{% extends "djangoapp/base.html" %}}
{% load static %}
{% block content %}


<div class = "container">
    

    <!-- First ROW -->
    <div class="row">
    <div class = "col-12" style="margin-bottom:2em">
    <h1 style="text-align:center"> Profile</h1>
    <div class="card " style=" background:#f0f2f4
">
<!--          <img class="card-img-top" src="{%  static  'Car-symetric.png'  %}"  alt="Car" style="padding:1em">-->
      <div class="card-body" style="margin:2em; text-align:center">

          <h5><strong>Engineer</strong>, passionate about <strong>mathematics</strong>,
              <strong>data-science</strong>, <strong>physics</strong> and <strong>biology</strong>.</h5>
<!--            <a href="dealer_details?dealerId={{dealership.id}}" class="btn btn-primary" style="background:black"> View details </a>-->
      </div>
    </div>

    </div>
    </div>
<hr/>
    <br>

    <!-- Second Row -->
    <div class = "row">
        <div class = "col-12">
            <h1 style="text-align:center"> Skills</h1>
        </div>
        <div class="col-lg-4 col-md-6  col-sm-12 " style="margin-bottom:2em">

        <div class="card h-100" style="  background:#f0f2f4
">
<!--          <img class="card-img-top" src="{%  static  'Car-symetric.png'  %}"  alt="Car" style="padding:1em">-->
          <div class="card-body" style="margin:2em;">
            <h5 class="card-title">Programming languages</h5>
              <ul>
                  <li>C++</li>
                  <li>Python</li>
                  <li>HTML/CSS</li>
                  <li>SQL</li>
                  <li>Javascript</li>
                  <li>R</li>
                  <li>Command-line (Linux, windows)</li>
                  <li>Bash</li>
              </ul>
<!--           <a href="dealer_details?dealerId={{dealership.id}}" class="btn btn-primary" style="background:black"> View details </a>-->
          </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-6  col-sm-12 " style="margin-bottom:2em">
        <div class="card h-100" style=" background:#f0f2f4
">
<!--          <img class="card-img-top" src="{%  static  'Car-symetric.png'  %}"  alt="Car" style="padding:1em">-->
          <div class="card-body" style="margin:2em;">
            <h5 class="card-title">Spoken Languages</h5>
              <ul>
                  <li>French: Native </li>
                  <li>English: Fluent </li>
                  <li>German: Good </li>
              </ul>
<!--           <a href="dealer_details?dealerId={{dealership.id}}" class="btn btn-primary" style="background:black"> View details </a>-->
          </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-6  col-sm-12 " style="margin-bottom:2em">
        <div class="card h-100" style=" background:#f0f2f4
;">
<!--          <img class="card-img-top" src="{%  static  'Car-symetric.png'  %}"  alt="Car" style="padding:1em">-->
          <div class="card-body" style="margin:2em;">
            <h5 class="card-title">Frameworks/Systems</h5>
              <ul>

                  <li>Tensorflow</li>
                  <li>Pytorch</li>
                  <li>Numpy</li>
                  <li>Pandas</li>
                  <li>Matplotlib</li>
                  <li>Scikit-learn</li>
                  <li>Django</li>
                  <li>Docker</li>
                  <li>Kubernetes</li>
                  <li>Google-cloud-platform</li>
                  <li>Ibm-cloud</li>
                  <li>AWS</li>
                  <li>Tableau</li>
                  <li>Qt</li>

              </ul>
<!--           <a href="dealer_details?dealerId={{dealership.id}}" class="btn btn-primary" style="background:black"> View details </a>-->
          </div>
        </div>
        </div>
        <hr>
    </div>

    <br>
    <!-- Third Row -->
    <div class = "row">

        <div class = "col-12">
            <h1 style="text-align:center"> Education </h1>
        </div>

        <div class="col-lg-4 col-md-6  col-sm-12 " style="margin-bottom:2em">
        <div class="card h-100" style= "background:#f0f2f4
">
<!--          <img class="card-img-top" src="{%  static  'Car-symetric.png'  %}"  alt="Car" style="padding:1em">-->
          <div class="card-body" style="margin:2em;">
            <h5 class="card-title">Data-Science Online formation (2019-2021)</h5>
              <ul>
                  <li>Coursera</li>
                  <li>OpenClassrooms</li>
                  <li>DataCamp</li>
                  <li>Numerous books and coding tutorials</li>
                  <li><a href="certificates">See Certificates</a></li>
              </ul>
<!--           <a href="dealer_details?dealerId={{dealership.id}}" class="btn btn-primary" style="background:black"> View details </a>-->
          </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6  col-sm-12 " style="margin-bottom:2em">
        <div class="card h-100" style=" background:#f0f2f4
">
<!--          <img class="card-img-top" src="{%  static  'Car-symetric.png'  %}"  alt="Car" style="padding:1em">-->
          <div class="card-body" style="margin:2em;">
            <h5 class="card-title"><a href="https://www.epfl.ch/research/domains/bioengineering/" target="_blank">Ecole Polytechnique Fédérale de Lausanne</a></h5>
              <ul>
                  <li>Biotechnology </li>
                  <li>BioInformatics </li>
                  <li>Biophysics </li>
              </ul>
<!--           <a href="dealer_details?dealerId={{dealership.id}}" class="btn btn-primary" style="background:black"> View details </a>-->
          </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6  col-sm-12 " style="margin-bottom:2em">
        <div class="card h-100" style="  background:#f0f2f4
">
<!--          <img class="card-img-top" src="{%  static  'Car-symetric.png'  %}"  alt="Car" style="padding:1em">-->
          <div class="card-body" style="margin:2em;">
            <h5 class="card-title"><a href="https://www.centralesupelec.fr/" target="_blank">Ecole Centrale de Paris</a></h5>
              <ul>

                  <li>Maths</li>
                  <li>Physics</li>
                  <li>Statistics</li>
                  <li>Optimization Theory</li>
                  <li>Management</li>
                  <li>Maths for Finance</li>
                  <li>General Engineering</li>
                  <li>Quantum mechanics</li>
                  <li>Maths for Biology</li>

              </ul>
<!--           <a href="dealer_details?dealerId={{dealership.id}}" class="btn btn-primary" style="background:black"> View details </a>-->
          </div>

        </div>


    </div>
    </div>




    <!-- Fourth ROW -->
    <hr>
    <div class="row">
    <div class = "col-12">
    <h1 style="text-align:center"> My Story </h1>
        <br>
    <div class="card" style=" background:#f0f2f4
">
<!--          <img class="card-img-top" src="{%  static  'Car-symetric.png'  %}"  alt="Car" style="padding:1em">-->
      <div class="card-body" style="margin:2em;">
        <ul>
          <li>I couldn't work for the last 5 years because of a disease considered as uncurable: Fibromyalgia.</li>
          <li>Thanks to relentless research and determination I could find a solution for healing it completely.</li>
          <li>When the pain of the Fibromyalgia diminished, I could concentrate again and had plenty of time for studying.</li>
          <li>If you want more details: please click <a href="fibromyalgia">here.</a></li>

        </ul>
          <!--            <a href="dealer_details?dealerId={{dealership.id}}" class="btn btn-primary" style="background:black"> View details </a>-->
      </div>
    </div>
        <hr/>
    </div>
    </div>



</div>

<!--<div class = "container">-->
<!--    <div class = "row">-->
<!--    {% for dealership in dealerships %}-->

<!--        <div class = "col-4">-->

<!--        <div class="card" style="width: 18rem; margin:2em; background:#f0f2f4
">-->
<!--&lt;!&ndash;          <img class="card-img-top" src="{%  static  'Car-symetric.png'  %}"  alt="Car" style="padding:1em">&ndash;&gt;-->
<!--          <div class="card-body" style="margin:2em">-->
<!--            <h5 class="card-title">{{ dealership.full_name }}</h5>-->
<!--              <ul>-->
<!--                <li class="card-text">-->
<!--                     State: {{ dealership.st }}-->
<!--                </li>-->
<!--                <li class="card-text">-->
<!--                     City: {{ dealership.city }}-->
<!--                </li>-->
<!--                <li class="card-text">-->
<!--                    ID: {{ dealership.id }}-->
<!--                </li>-->
<!--                <li class="card-text">-->
<!--                    Zip: {{ dealership.zip }}-->
<!--                </li>-->
<!--                </ul>-->

<!--            <a href="dealer_details?dealerId={{dealership.id}}" class="btn btn-primary" style="background:black"> View details </a>-->
<!--          </div>-->
<!--        </div>-->
<!--        </div>-->

<!--    {% endfor %}-->
<!--    </div>-->
<!--</div>-->


<br>





{% endblock %}
